<button type="button" onclick="window.location.href = 'https://github.com/haolam05';"                               class="btn btn-secondary">GitHub</button>
<button type="button" onclick="window.location.href = 'https://www.instagram.com/lth.______/';"                     class="btn btn-secondary">Instagram</button>
<button type="button" onclick="window.location.href = 'https://www.facebook.com/profile.php?id=100006248883342';"   class="btn btn-secondary">YouTube</button>